<div class="jumbotron">
	<h1 class="display-4">Your Career Starts Here</h1>
	<p class="lead">
		Discover exciting job opportunities that match your skills and
		expertise.
	</p>
	<p class="lead">Connect with top recruiters to advance your career.</p>
	<div class="btn-group">
		<a class="btn btn-primary btn-lg" href="/login">I'm a Recruiter</a>
		<a class="btn btn-primary btn-lg" href="/jobs"
			>I'm a Job Seeker</a
		>
	</div>
</div>
